include index.html

//- doctype html

//- html(lang="en" np-app="polls")
//- 	head
//- 		meta(charset="utf-8")
//- 		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
//- 		title= title
//- 		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
//- 		link(rel="stylesheet", href="/stylesheets/style.css")
//- 		script(src="/javascripts/angular.min.js")
//- 		script(src="/javascripts/angular-resource.min.js")
//- 		script(src="/javascripts/app.js")
//- 		script(src="/javascripts/controllers.js")


//- 	body(ng-controller="pollListController")
//- 		nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
//- 			div.navbar-header
//- 				a.navbar-brand(href="#/polls")= title
//- 		div.container
//- 			div
//- 				ng-view